
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

body{
    width: 80%;
    margin: 4%  auto;
    font-family: 'Inter', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header .nav__links {
    display: flex;
    justify-content: space-between;
}
.header .nav__links li {
    list-style: none;
    padding: 0 1rem;

}
.header .nav__links li a {
    color: hsl(233, 8%, 79%);
    text-decoration: none;
    font-size: 0.9rem;
}